<mat-toolbar style="background: linear-gradient(to right, rgb(130, 65, 120), rgb(201, 237, 243))">
 
    <img src="../../assets/img/download (3).png" style="width: 50px; border-radius: 50%;" routerLink="" >
    <h3 style="color:white">&nbsp;&nbsp;To-do List App</h3>
  
      <span class="example-spacer"></span>
      <button mat-icon-button type="button" routerLink="/register"  data-bs-toggle="tooltip" title="Sign-up">
        <mat-icon color="accent">person_add</mat-icon>
      </button>
      <button mat-icon-button type="button" routerLink="/login"  data-bs-toggle="tooltip" title="Sign-In">
        <mat-icon color="primary">login</mat-icon>
      </button>
  </mat-toolbar>


<div class="fluid-container" >
    <br>
    <h1 style="text-align: center; color: aqua;">Sign-in</h1><br>

    <mat-card>
        <div class="loginForm" mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field appearance="standard">
                    <mat-label for="email">email Id</mat-label>
                    <input matInput type="text" formControlName="email">
                    
                </mat-form-field>
                <div *ngIf="email.invalid && email.touched" class="alert alert-danger">
                       
                    <div *ngIf="email.errors?.['required']" >
                        email is must
                    </div>
                    
                </div>
                <br>
                <mat-form-field appearance="standard">
                    <mat-label for =" password">Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    
                </mat-form-field>
                <div *ngIf="password.invalid && password.touched" class="alert alert-danger">
                        
                    <div *ngIf="password.errors?.['required']" >
                     password is must
                    </div>
                    
                </div>
                <br>
                <button  [disabled]="loginForm.invalid" type="submit"class="button alt-gradient-button" >Log In</button>
        
            </form>
        </div>
    </mat-card>
</div>
<div>
    <footer class="footer-section" style="background: linear-gradient(to right, rgb(145, 60, 136), rgb(201, 237, 243))">
  

        <div class="d-flex
                      justify-content-center
                      align-items-center
                      p-2
                      copyright-section">
          <p class="p-1 mt-3">Copyright © 2022 TO-DO</p>
          <a class="p-1" href="">Security</a>
          <a class="p-1" routerLink="/privacy">Privacy Policy</a>
        </div>
      </footer>
  </div>
